@using Sitecore.Mvc
@{ 
    Layout = null;
}
<div>
  <h1 class="contentTitle">
    @Html.Sitecore().Field("Title")
  </h1> 
  <h2 class="contentTitle">
    @Html.Sitecore().Field("Name")
  </h2>  
  <h2>
    @Html.Sitecore().Field("Description")
  </h2>
  <div class="contentDescription">
     @Html.Sitecore().Field("Text")
  </div>    
</div>

